<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Par acquit de{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
        body {
            opacity: 0;
        }
    </style>
    <link href="/public/styles.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="content {{ contentClasses | default (value="") }}">
    {% block content %}{% endblock content %}
</div>
<footer>
    <a href="/">Accueil</a>
    <a href="/page/ajouter-votre-expression">Par acquit de contribution, ajoutez votre expression</a>
    <a href="/page/rechercher">Recherche</a>
    <a href="/page/rechercher-par-mot-cle">Recherche par mot clés</a>
    <a href="/page/a-propos">À propos</a>
</footer>
</body>

</html>
